extends layout

block content
    div(id='outerApp')
        div.welcomeHeader
            h3 #{title}
            div(id="ssnDiv")
                p Click the icon on the right to download your consultation
        div(id='searchConsultationContainer')
            div.form-inline(id="searchForm")
                input.span3(class='form-control', id="searchInput", type="text", name="User", placeholder="Search here")
                button.btn(id = "submitBtn" , onclick="javascript:search()", value="Search", class='btn-primary')
                    i(class="fa fa-search" aria-hidden="true")
                    form(id='loginForm', action='/addfile', method='POST')
                        button.btn(id = "logoutBtn" , type="submit", value="Search", class='btn-danger')
                            i(class="fa fa-sign-out" aria-hidden="true")
        div(id='innerApp')
            div.container(id='tableContainer', style="overflow-x:auto;")
                div.content
                    table.table.table-hover(id="userInfoTable")
                            thead(id='tableHead', class='active')
                                tr
                                    th Date
                                    th Doctor
                                    th Location
                                    th Duration
                                    th Media
                                    th Delete
                            tbody(id='tableBody')
                                tr
