doctype html
html(id="loginHtml")
    head
        title= title
        script(src="https://use.fontawesome.com/50a0264732.js")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
        link(rel='stylesheet', href='stylesheets/homepagestyle.css')
        link(rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png")


    body(id='bodyIndex')
        block content
        script(type='text/javascript').
                var parsedSSN = !{JSON.stringify(ssn)};
                /*var parsedSSN = '1710911211';*/

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/clienthomeview.js')
