#bodyIndex {
    background: url('/images/girlListening.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: webkit-fill-available;
    width: -moz-available;
}

table {
    border-collapse: separate;
    display: block;
    width: inherit;
    word-break: normal;
    border-spacing: 0 5px;
}
h3{
    text-align: center;
}
.span3{
    min-width: 268px;
}

thead th {
    background-color: #006DCC;
    color: white;
    text-align: center;
    width: fit-content;
}

tbody td {
    background-color: #EEEEEE;
    width: fit-content;
    text-align: center;
}
.table td {
    vertical-align: middle;
}

tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.form-control{
    margin-left: 2px;
    width: auto;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(51, 122, 255, 0.95);
}
#i.fa.fa-download{
    margin-left: auto;
    margin-right: auto;
}
button#btnID{
     background: white;
     border-width: thin;
 }

#searchConsultationContainer{
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    width: -moz-fit-content;
}
#searchInput{
    min-width: 28%;
}
.container{
    width: fit-content;
    width: -moz-max-content;
    padding-left: 0%;
    padding-right: 0%;
}

.content{
    width: inherit;
    display: table;

}
#outerApp{
    background: white;
    width: -webkit-fill-available;
    width: -moz-available;
    max-width: fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
    height: 80%;
    border-style: solid;
    border-width: thin;
    border-color: #006dcc;
    border-radius: 40px;
    box-shadow: 0 0 7px #9E9E9E;
}
div.welcomeHeader{
    text-align: center;
    margin-top: 27px;
    margin-bottom: 10px;

}
#innerApp{
    padding: 10px 20px;
    /* margin: 26px; */
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;

}
.btn-primary{
    margin-left: -42px;
}
#titleAndLogout{
    vertical-align: middle;
    margin-top: 27px;
    margin-bottom: 27px;
}
#logoutBtn{
    margin-right: 0px;
}

audio{
    background-color: #9E9E9E;
}

@media screen and (max-width: 600px) {

    .container{
        max-width: 100%;
    }

    #loginh2 {
        font: 12vw "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    .btn-primary {
    }
}